@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
@tailwind base; 
@tailwind components;
@tailwind utilities;

body{
	
	background-image: url('../images/bg-header-mobile.png');
	
	@media (min-width: 577px) {
		background-image: url('../images/bg-header-desktop.png');
		
	}
}

.section-container{
	@apply max-w-6xl mx-auto text-center px-10 my-20
}

.button-container{
	@apply flex flex-col justify-center w-full space-y-6 text-xl text-white 
	md:flex-row md:space-y-0 md:space-x-4 
}

.button{ 
	@apply p-4 rounded-full shadow-lg duration-300 hover:opacity-80
}

.featured-p{
	@apply max-w-md text-grayishBlue
}

.section-p{
	@apply max-w-3xl leading-9 text-grayishBlue text-xl
}

.icons{
	filter: invert(58%) sepia(94%) saturate(345%) hue-rotate(123deg) brightness(88%) contrast(89%);
}
.facebook:hover{
	filter: invert(7%) sepia(100%) saturate(7240%) hue-rotate(247deg) brightness(113%) contrast(144%);
}
.twitter:hover{
	filter: invert(67%) sepia(16%) saturate(5983%) hue-rotate(170deg) brightness(103%) contrast(94%);
}
.instagram:hover{
	filter: invert(39%) sepia(45%) saturate(5993%) hue-rotate(296deg) brightness(100%) contrast(95%);
}

@layer base {
	h3{
		@apply mb-8 text-4xl font-bold text-darkGrayishBlue md:text-5xl
	}
	p{
		@apply max-w-3xl mx-auto
	}
	h5{
		@apply mb-6 text-2xl font-bold text-darkGrayishBlue
	}
}

@layer components {
	
}

@layer utilities {
	
}
